/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.sidebar{
	-fx-background-color:rgb(58,69,88);
}
.login{
	-fx-background-color:rgb(58,69,88);
}
.btnLogin{
	-fx-background-color: transparent ;
	-fx-background-radius: 100px;
	-fx-border-color: #cccccc;
	-fx-border-radius:100%;
}
.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.sidebar-btn:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: rgb(22,169,250);
    -fx-border-width: 0px 0px 0px 3px;
}

.separator { 
-fx-border-style: solid;
-fx-border-width: 1px;

}
.menu{
	-fx-background-color: rgb(23,35,51);
}
.label
{
    -fx-text-fill: white;
}
/*.root{
	-fx-background-color: #2D2E32;
	-fx-font-size: 12px;
	-fx-background-insets: 0 0 0 0, 0, 4, 4;
	-fx-border-color: linear-gradient(transparent, #32739B);
}*/


.menu-bar {
    -fx-background-color: white;
  }

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {
    -fx-background: -fx-accent;
    -fx-background-color:rgb(23,35,51);
    -fx-opacity: 0.5;
    -fx-text-fill: -fx-selection-bar-text;
}



.menu-item {
    -fx-background-color:rgb(23,35,51);
    -fx-padding: 1em 1em 1em 1em;
    -fx-text-fill: greenyellow;
}
.menu-item .label{
	-fx-text-fill: white;
	-fx-font-size: 14px;
}
.menu-item:hover{
	-fx-background-color:rgb(58,69,88);
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color:rgb(23,35,51);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
    -fx-opacity: 0.9;
}
.table-column{
	-fx-text-fill: black;
}






